.form-control:focus{box-shadow: none;}
/* font google*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* Body*/
body {font-family: Lexend,sans-serif;font-size: 14px;font-weight: 400;background-color: #f6f6fa;}
.rounded-b {border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;}
.btb {border-radius: 0 5px 5px 0;background: #3949ab;font-family: Lexend,sans-serif;color: #fff;border: 0;padding: 0.375rem;font-weight: 500;outline: none;transition: all .3s;}
.bts {border-radius: 5px;background: #3949ab;font-family: Lexend,sans-serif;color: #fff;border: 0;padding: 0.375rem;font-weight: 500;outline: none;transition: all .3s;}	
.getlink {background: #fff;text-align: center; display: table;overflow: hidden;width: 100%;max-width: 970px;padding: 0 0 25px 0;border-radius: 5px;margin: 25px auto;box-shadow: 0 1px 3px 0 rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%);}
.info-b {background-color: #E8EAF6;}
.text-b { background: #e2eaf7;color: #2f5aa2;}
/* countdown */
#timer {margin: 10px 0}
.countdown {display: flex;flex-direction: column;justify-content: center;text-align: center;border: 6px solid #d6f0e0;border-radius: 50%;width: 150px;height: 150px;margin: 25px auto;}
.countdown .timer {font-weight: bold;font-size: 60px;line-height: 60px;color: #0d6832;}
.countdown .seconds {font-size: 20px;line-height: 26px;font-weight: bold;color: #0d6832;}			
/* ads */
.ads-square{width:300px;height:250px;background:#e2eaf7;color:#2f5aa2;line-height:250px;text-align:center;margin:auto}
.ads-horizontal{width:100%;height:90px;background:#e2eaf7;color:#2f5aa2;line-height:90px;text-align:center}
/* Adblock Pop-Up */
.popSc{position:fixed;top:0;bottom:0;left:0;right:0;padding:20px;background:rgba(255, 255, 255, 0.1);z-index:99980;-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);display:flex;justify-content:center;align-items:center}
.popSc.hidden{display:none}
.popSc .popBo{position:relative;background:rgba(255, 255, 255, 0.8);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);max-width:400px;display:flex;justify-content:center;align-items:center;flex-direction:column;padding:30px;border-radius:20px;box-shadow:0 5px 25px rgb(0 0 0 / 20%)}
.popSc .popBo svg{display:block;width:50px;height:50px;fill:none !important;stroke:#08102b;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5}
.popSc .popBo h2{margin:10px 0 15px 0;font-size:1.2rem;font-weight:800;color:#08102b}
.popSc .popBo p{margin:0;line-height:1.7em;font-size:0.9rem;color:#08102b}
.popSc .popBo .popBtn{display:inline-flex;justify-content:center;align-items:center;height:50px;width:50px;outline:none;border:none;background:#482dff;border-radius:50%;margin-top:20px;transition:all .2s ease;-webkit-transition:all .2s ease}
.popSc .popBo .popBtn:hover{transform:scale(1.05);-webkit-transform:scale(1.05)}
.popSc .popBo .popBtn svg{width:24px;height:24px;stroke:#fff;flex-shrink:0}
.popSc .popBo .popBtn svg.r{animation:rotateIcn 1.5s infinite linear;-webkit-animation:rotateIcn 1.5s infinite linear}
.popSc{animation:popupBlur .3s ease-in; -webkit-animation:popupBlur .3s}
.popSc >*{animation:popupScale .3s ease-in; -webkit-animation:popupScale .3s}
/* Cookies Consent Notice */
.ckWrap{position:fixed;right:20px;left:20px; margin-bottom: 80px; bottom:-600px;z-index:10;padding:20px;background:rgba(255, 255, 255, 0.8);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);border-radius:30px 30px;box-shadow:0 -10px 25px -5px rgba(0,0,0,.1);align-items:center;justify-content:center;text-align:left;animation:ckUp 2.5s forwards;animation-delay:1s;-webkit-animation:ckUp 2.5s forwards;-webkit-animation-delay:1s}
.ckWrap.acptd{animation:ckDn 2.5s backwards;animation-delay:.3s;-webkit-animation:ckDn 2.5s backwards;-webkit-animation-delay:.3s}
.ckWrap.hidden{display:none}
.ckCont h2{margin-bottom: 10px; font-size: 1.1rem; font-weight: 700; font-family: Lexend,sans-serif;}
.ckCont h2::after {content: ''; display: inline-block; vertical-align: middle; width: var(--widgetTa); margin: 0 10px; border-bottom: 1px solid var(--widgetTac); opacity: .5;}
.ckCont p{margin:10px 0;line-height:1.4rem;color:#08102b;font-size: 14px;font-weight:400;font-family: Lexend,sans-serif;}
.ckF{margin-top: 15px; display: flex; justify-content: center;}
.ckB {display: inline-flex; align-items: center; cursor: pointer; padding: 10px 15px; outline: 0; border: 0; border-radius: var(--buttonR); line-height: 20px; color: rgba(0,0,0,.8); background: #e9e9e9; font-size: 14px; font-family: Lexend,sans-serif; white-space: nowrap; overflow: hidden;}
.ckF >*:first-child {margin-right: 10px; border-radius: 8px; background: #3949ab; color: #fffdfc;}
.ckF >*:last-child {flex: 0 0 auto; border-radius: 8px;}
.ckF >* {flex-grow: 1; justify-content: center;}
@media screen and (min-width:768px){.ckWrap{max-width:400px; left: 20px; right: 20px; margin-bottom:20px; border-radius:10px; bottom:-600px;box-shadow:0 5px 35px rgba(0,0,0,.1);animation:ckdeskUp 2.5s forwards;animation-delay:1s;-webkit-animation:ckdeskUp 2.5s forwards;-webkit-animation-delay:1s}.ckWrap.acptd{animation:ckdeskDn 2.5s backwards;animation-delay:.3s;-webkit-animation:ckdeskDn 2.5s backwards;-webkit-animation-delay:0.3s}}
@-webkit-keyframes ckUp{100%{bottom:0}}
@keyframes ckUp{100%{bottom:0}}
@-webkit-keyframes ckdeskUp{100%{bottom:30px}}
@keyframes ckdeskUp{100%{bottom:30px}}
@-webkit-keyframes ckDn{0%{bottom:0}100%{bottom:-600px}}
@keyframes ckDn{0%{bottom:0}100%{bottom:-600px}}
@-webkit-keyframes ckdeskDn{0%{bottom:30px}100%{bottom:-600px}}
@keyframes ckdeskDn{0%{bottom:30px}100%{bottom:-600px}}
.darkMode .ckWrap{background:rgba(50, 50, 50, 0.8)}
.darkMode .ckCont h2, .darkMode .ckCont p, .darkMode{color:#fefefe}
/* Dark Theme Setting */
[data-bs-theme=dark] {background-color: #212529 !important;color: #dee2e6;}
.form-check-input:checked {background-color: #0c5ba2;border-color: #0c5ba2;box-shadow: none;}
.form-check-input:focus {border-color: #86b7fe;outline: 0;box-shadow: none}
[data-bs-theme=dark] {background-color: #212529 !important;color: #dee2e6;}
[data-bs-theme=dark] body {background-color: #212529;color: #dee2e6;}
[data-bs-theme=dark] .link-dark {color: RGBA(#dee2e6,var(--bs-link-opacity,1))!important;-webkit-text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity,1))!important;}
[data-bs-theme=dark] .bg-light {background-color: #712cf9 !important;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);}
[data-bs-theme=dark] .bg-white {background-color: #212529 !important;}
[data-bs-theme=dark] .bg-black {background-color: #212529 !important;}
[data-bs-theme=dark] .getlink {background: #1b2024;box-shadow: 0 1px 3px 0 rgb(0 0 0 / 11%), 0 2px 2px rgb(0 137 89);}
[data-bs-theme=dark] .ckWrap {background-color: rgb(37 43 49 / 45%)}
[data-bs-theme=dark] .ckCont p {color: #a5a3a7 !important}
[data-bs-theme=dark] .ckF >*:first-child {background: #7d4698;}
[data-bs-theme=dark] .form-control {background-color: rgb(25 135 84 / 37%);}
[data-bs-theme=dark] .ads-horizontal {background-color: rgb(45 38 72);border: 1px solid #42287d;}
[data-bs-theme=dark] .ads-square {background-color: rgb(45 38 72);border: 1px solid #42287d;}

/* Back To Top*/
#toTop{position: fixed;bottom: 10px;right: 10px;cursor: pointer;display: none;background: #e2eaf7;color: #2f5aa2;border: none;}
[data-bs-theme=dark] #toTop {background: #2d2648;color: #2f5aa2;border: 1px solid #42287d;}

/* A Link Color*/
 a{color:#7d4698;text-decoration:none;background-color:rgba(0,0,0,0);-webkit-text-decoration-skip:objects}
 /* Short CODE  */
 .badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem}
 .badge:empty{display:none}.btn .badge{position:relative;top:-1px}
 .badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}
 .badge-primary{color:#fff;background-color:#7d4698}
 .badge-primary[href]:focus,.badge-primary[href]:hover{color:#fff;text-decoration:none;background-color:#603675}
 .badge-secondary{color:#fff;background-color:#333a41}
 .badge-secondary[href]:focus,.badge-secondary[href]:hover{color:#fff;text-decoration:none;background-color:#1d2124}
 .badge-success{color:#fff;background-color:#68b030}
 .badge-success[href]:focus,.badge-success[href]:hover{color:#fff;text-decoration:none;background-color:#508825}
 .badge-info{color:#fff;background-color:#00a5bb}
 .badge-info[href]:focus,.badge-info[href]:hover{color:#fff;text-decoration:none;background-color:#007888}
 .badge-warning{color:#111;background-color:#ffbf00;}
 .badge-warning[href]:focus,.badge-warning[href]:hover{color:#111;text-decoration:none;background-color:#c90}
 .badge-danger{color:#fff;background-color:#ef243e}
 .badge-danger[href]:focus,.badge-danger[href]:hover{color:#fff;text-decoration:none;background-color:#d10f28}
 .badge-light{color:#111;background-color:#f8f9fa}
 .badge-light[href]:focus,.badge-light[href]:hover{color:#111;text-decoration:none;background-color:#dae0e5}
 .badge-dark{color:#fff;background-color:#59316b}
 .badge-dark[href]:focus,.badge-dark[href]:hover{color:#fff;text-decoration:none;background-color:#3c2148}
